.form-group {
    margin-bottom: 20px;
    }
    
    label {
    display: block;
    margin-bottom: 5px;
    }
    
    input, select {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: none;
    }
    
    
    
    
    
    
    
    