<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Centro Cultural</title>
	<link rel="stylesheet" href="estilo.css">
</head>
<body>
	<header>
		<nav>
			<ul class="menu-horizontal">
				<li>
					<a href="#">Administrativo</a>
					<ul class="menu-vertical">
						<li><a href="CargaAdmin.html">Inscripción Administrativo</a></li>
						<li><a href="#">Opción</a></li>
						<li><a href="#">Opción</a></li>
					</ul>
				</li>
				<li>
					<a href="#">Docentes</a>
					<ul class="menu-vertical">
						<li><a href="CargaDocente.html">Inscripción Docente</a></li>
						<li><a href="#">Curso</a></li>
						<li><a href="#">Asistencias</a></li>
					</ul>
				</li>
				<li>
					<a href="#">Alumnos</a>
					<ul class="menu-vertical">
						<li><a href="CargaAlumno.html">Inscripción de Alumnos</a></li>
						<li><a href="CargaCursos.html">Inscripción a Cursos</a></li>
						<li><a href="#">Notas</a></li>
					</ul>
				</li>
				<li>
					<a href="#">Enlaces</a>
					<ul class="menu-vertical">
						<li><a href="https://cultura.cordoba.gob.ar/espacio_cultural/centro-cultural-paseo-de-las-artes/">Centro Cultural Paseo de las Artes</a></li>
					</ul>
				</li>
			</ul>
		</nav>
	</header>
	
	<main>
		<!-- Contenido del sitio web -->
	</main>
	
	<footer>
		<!-- Información del centro cultural y datos de contacto -->
	</footer>
</body>
</html>